doctype html
html
	head
		title File Browser
		link(type="text/css", rel="stylesheet", href="styles/main.css")
		link(type="text/css", rel="stylesheet", href="styles/vendor/font-awesome/font-awesome.css")
	body
		div#root
		script(src="js/app.js", type="text/javascript")
